:root {
  --font-size: calc(16px + 0.25vw);
  --grey-1: #fafafa;
  --grey-2: #eaeaea;
  --grey-3: #999999;
  --grey-4: #666666;
  --grey-5: #333333;
  --blue: #0076ff;
  --magenta: #ff0080;
  --orange: #f5a623;
  --yellow: #f8e71c;
  --green: #50e3c2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

html {
  line-height: 1.15;
  word-break: break-word;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  font-size: var(--font-size);
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul {
  list-style: none;
}

iframe {
  border: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
}

a,
a:active,
a:focus {
  text-decoration: none;
}

[hidden] {
  display: none;
}

[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 996px;
}

.btn {
  background-color: var(--blue);
  color: white;
  padding: 8px 6px;
}

.org-node-btns svg {
  cursor: pointer;
}

.org-chart-container table .node-box .org-node-btns .icon {
  font-size: 24px;
}

.org-chart-container table .node-box .org-node-btns .icon.fa-pencil-alt,
.org-chart-container table .node-box .org-node-btns .icon.fa-trash-alt {
  display: none;
}
